.mogitate__title{
    width: 1512;
    height: 50;
    padding-right: 40px;
    padding-left: 40px;
    gap: 1167px;
}

.mogitate__title__main{
    width: 128;
    height: 48;
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.search__sort{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 240;
    height: 267;
    gap: 40px;
}

.search__box{
    width: 240;
    height: 50;
    padding-top: 14.5px;
    padding-right: 10px;
    padding-bottom: 14.5px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 25px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #E0DFDE
}

.search__buttont{
    width: 240;
    height: 44;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    background: #F5C800;
    box-shadow: 0px 4px 10px 0px #0000001A;
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

.price__text{
    width: 120;
    height: 30;
    font-family: Hiragino Kaku Gothic Pro;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;    
}

.sort__option{
    width: 240;
    height: 43;
    justify-content: space-between;
    padding-top: 11px;
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #E0DFDE
}

.mogitate__product__table{
    width: calc(100% / 3 - 10px);;
    background: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.mogitate__products__table__item{
    display: flex;
    justify-content: space-between
}